@using ALB.BLOG.BLO.ViewModels;
@using ALB.BLOG.BLO.Interfaces
@inject ISettingBLO _settingBLO
@{
    var settingVM = await _settingBLO.GetMainSettingVM();    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@(settingVM.SiteName == null ? "ALG" : settingVM.SiteName) - @ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="/blog/assets/ALG_ICON.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/blog/css/styles.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <!-- Navigation-->
    <nav class="navbar border-top bg-black navbar-expand-lg navbar-light nav-alb" id="mainNav">
        <div class="container px-4 px-lg-4">
            <img class="img-log-alb" src="~/blog/assets/img/ALG_LOGO.svg" alt="ALG Icon Preview" />
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">@(settingVM.SiteName == null ? "ALG" : settingVM.SiteName)</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-2 py-2 py-lg-3 nav-a-alb" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-2 py-2 py-lg-3 nav-a-alb" asp-controller="Page" asp-action="About">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-2 py-2 py-lg-3 nav-a-alb" asp-controller="Page" asp-action="Contact">Contato</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-2 py-2 py-lg-3 nav-a-alb" target="_blank" href="@settingVM.GithubUrl"><i class="bi bi-github"></i></a></li>
                    <li class="nav-item"><a class="nav-link px-lg-2 py-2 py-lg-3 nav-a-alb" target="_blank" href="@settingVM.LinkedInUrl"><i class="bi bi-linkedin"></i></a></li>
                    <li class="nav-item"><a class="nav-link px-lg-2 py-2 py-lg-3 nav-a-alb" target="_blank" href="@settingVM.InstagramUrl"><i class="bi bi-instagram"></i></a></li>
                    <li class="nav-item"><a class="nav-link px-lg-2 py-2 py-lg-3 nav-a-alb" target="_blank" href="@settingVM.TwitterUrl"><i class="bi bi-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main Content-->
    @RenderBody()
    <!-- Footer-->
    <footer class="py-3 bg-black">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item alb-item-nav">
                            <a href="@settingVM.GithubUrl">
                                <i class="bi bi-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item alb-item-nav">
                            <a href="@settingVM.LinkedInUrl">
                                <i class="bi bi-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item alb-item-nav">
                            <a href="@settingVM.InstagramUrl">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item alb-item-nav">
                            <a href="@settingVM.TwitterUrl">
                                <i class="bi bi-twitter"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="text-white mb-2 footer-alb">&copy; Copyright @DateTime.Now.Year</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~blog/js/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>
</html>