@model ALB.BLOG.BLO.ViewModels.BlogPostVM

@{
    ViewData["Title"] = "Publicacão";

    string thumbnailUrl = "";

    if (string.IsNullOrEmpty(Model.ThumbnailUrl))
    {
        thumbnailUrl = "/blog/assets/img/home-bg.jpg";
    }
    else
    {
        thumbnailUrl = "/thumbnails/" + Model.ThumbnailUrl;
    }
}

<header class="masthead" style="background-image: url('..@thumbnailUrl')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="thumbnail-preview">
                    <img src="~/thumbnails/@Model.ThumbnailUrl" class="img-fluid" alt="Post Thumbnail Preview" />
                </div>
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading" style="margin: 0.75rem 0 0.8rem !important;">@Model.ShortDescription</h2>
                    @foreach (var category in Model.PostCategories)
                    {
                        <div class="category-badge" style="background-color: @(category?.Category?.Color); width: auto; padding: 0.2% 1%; margin: 0.2%; display: inline-block; border-radius: 5px; margin-bottom: 1rem;">
                            <p style="color: white; margin: 0; font-size: 65%">@(category?.Category?.Name)</p>
                        </div>
                    }
                    <span class="meta">
                        Postado por
                        <a href="#!">@Model.AuthorName</a>
                        em @Model.CreatedDate.ToShortDateString()
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 post-text-alb">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
</article>